<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Fruit Recognition</title>


    <style>
      .btn {
        background-color: green;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: red;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
      }
      @keyframes glowing {
        0% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
        50% {
          background-color: green;
          box-shadow: 0 0 20px #49e819;
        }
        100% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
      }
      .btn {
        animation: glowing 1300ms infinite;
      }
      </style>
  </head>
  <body class="bg-gray-200">
    <header class="text-gray-600 body-font -my-8">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Fruit Recognition</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="/" class="mr-5 hover:text-gray-900">Home</a>
            <a href="/about" class="mr-5 hover:text-gray-900">About us</a>
            <a href="/prediction" class="mr-5 hover:text-gray-900" > <b id="blink" style="color:red">prediction</b> </a>


            <a href="/contact" class="mr-5 hover:text-gray-900">Contact us</a>
          </nav>
        </div>
      </header><hr>
      <section class="text-gray-600 body-font -my-8">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Fruit Recognition
              <br class="hidden lg:inline-block">Machine learning project
            </h1>
            <p class="mb-8 leading-relaxed">This Project titled "<b style='color:#5ab34f '>Fresh and Rotten Fruit
                Recognition & Mango's Varieties Detection Using Machine Learning</b>". The main purpose of our
                project is to recognize fresh/rotten fruit or Detect mango's varieties from a given image.To build this projct
                here we use machine learning, python (Tensorflow, Keras, Numpy, Pandas, Flask, Pillow), HTML, CSS, Javascript, Bootstrap.
            </p>
            <div class="flex justify-center">
              <a href="/prediction" ><button  class="btn" >prediction</button></a>

            </div>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="static/image.png">
          </div>
        </div>
      </section>

      <div style="left: 0;bottom: 2px;width: 100%; background-color: gray; color: white;text-align: center;">
        <br>Copyright &copy; boyiddha 2022.<br> Developed by Boyiddhanath Roy.
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
    <!--  Blinking script-->
    <script type="text/javascript">
    var blink =
          document.getElementById('blink');

    setInterval(function () {
          blink.style.opacity =
          (blink.style.opacity == 0 ? 1 : 0);
     }, 300);
  </script>

  </body>
</html>